<!-- Footer -->
<footer class="bg-light text-center ">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="https://www.facebook.com/ITMUNIVERSITYINDIA/?fref=ts" target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="https://twitter.com/i/flow/login?redirect_after_login=%2FITMUGwalior" target="_blank" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="https://itmuniversity.ac.in/" target="_blank" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="https://www.instagram.com/itmuniversitygwl/" target="_blank" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="https://in.linkedin.com/school/itm-university-gwalior/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
      <!-- Github -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://itmuniversity.ac.in/" target="_blank" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->


    <!-- Section: Form -->
    <section class="">
      {% comment %} <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for update</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->


    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Aspernatur praesentium nemo mollitia harum tenetur obcaecati dolores reiciendis 
        natus dolorem ipsam architecto sapiente nisi nobis in, quo deleniti libero? Iste, architecto!
        <br><h6 class="text-uppercase fw-bold mb-4">Contact</h6> {% endcomment %}

        
          <!-- Links -->
          
          <p><i class="fas fa-home m40"></i> NH-44,BypassTurari,
            Jhansi Road Gwl (M.P.)
            475001,(INDIA)
            </p>
          <p>
            <i class="fas fa-envelope me-3 "></i>
            maheshiiitm.kushwah@gmail.com
          </p>
          <p><i class="fas fa-phone me-3 "></i>
          <a href="{{phone_number}}">91 93017 77288</a>
        </p>
          
      </p>

    </section>
    
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023:
    <a class="text-dark" href="https://itmuniversity.ac.in/ ">Itm university</a>
  </div>
  <!-- Copyright -->
</footer>