{% extends 'layouts/base.html' %}

{% block title %} Device {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


    <!-- Header -->
<div class="header bg-gradient-blue pb-8 pt-5 pt-md-8">
<div class="container-fluid">
        <div class="header-body">

          <!-- Card stats -->
	 <div class="row">
            <div class="col-xl-3 col-lg-6">
	<div class="card card-stats">
	<a href="\bedcontrol.html">
              <div class="btn btn-sm btn-neutral">
	<div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Control</h5>
                      <span class="h2 font-weight-bold mb-0">10</span>
                    </div>
                   <div class="col-auto">
                      <div class="icon icon-shape bg-cyan text-white rounded-circle shadow">
                    <i class="fas fa-bed"></i> <!-- Bedroom icon -->
	</div>
                      </div>
   </div>
	</a>
                 
	</div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">                  
                    <span class="text-nowrap">Device in Bed room</span>
                  </p>
                </div>
              </div>
            </div>


	
            <div class="col-xl-3 col-lg-6">
	<div class="card card-stats">
	<a href="/studycontrol.html">
              <div class="btn btn-sm btn-neutral">
	<div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Control</h5>
                      <span class="h2 font-weight-bold mb-0">10</span>
                    </div>
                   <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                     <i class="fas fa-book-open"></i> <!-- Study Room icon -->

	</div>
       	</div>              
	 </div>
	</a> 
	</div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">                  
              <b><span class="text-nowrap">Device in Study Room</span></b>
                  </p>
              	  </div>
             	 </div>
            	</div>


  <div class="col-xl-3 col-lg-6">
	<div class="card card-stats">
	<a href="/diningslider.html">
              <div class="btn btn-sm btn-neutral">
	<div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Control</h5>
                      <span class="h2 font-weight-bold mb-0">10</span>
                    </div>
                   <div class="col-auto">
                      <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                     <i class="fas fa-utensils"></i> <!-- Dining Room icon -->
	</div>
       	</div>              
	 </div>
	</a> 
	</div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">                  
              <b><span class="text-nowrap">Device in Dining Room</span></b>
                  </p>
              	  </div>
             	 </div>
            	</div>

            
 <div class="col-xl-3 col-lg-6">
	<div class="card card-stats">
	<a href="/guestroomslider.html">
              <div class="btn btn-sm btn-neutral">
	<div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Control</h5>
                      <span class="h2 font-weight-bold mb-0">10</span>
                    </div>
                   <div class="col-auto">
                      <div class="icon icon-shape bg-pink text-white rounded-circle shadow">
                     <i class="fas fa-bed"></i> <!-- Guest Room icon -->

	</div>
       	</div>              
	 </div>
	</a> 
	</div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">                  
              <b><span class="text-nowrap">Device in Guest Room</span></b>
                  </p>
              	  </div>
             	 </div>
            	</div>
</div>
</div>
</div>


 <!-- Header -->
<div class="header bg-gradient-blue pb-8 pt-5 pt-md-8">
<div class="container-fluid">
        <div class="header-body">

          <!-- Card stats -->
	 <div class="row">
            <div class="col-xl-3 col-lg-6">
	<div class="card card-stats">
	<a href="/hallslider.html">
              <div class="btn btn-sm btn-neutral">
	<div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Control</h5>
                      <span class="h2 font-weight-bold mb-0">10</span>
                    </div>
                   <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-door-open"></i> <!-- Hall icon -->

	</div>
                      </div>
   </div>
	</a>
                 
	</div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">                  
                    <span class="text-nowrap">Device in Hall/span>
                  </p>
                </div>
              </div>
            </div>


	
            <div class="col-xl-3 col-lg-6">
	<div class="card card-stats">
	<a href="/kitchenslider.html">
              <div class="btn btn-sm btn-neutral">
	<div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Control</h5>
                      <span class="h2 font-weight-bold mb-0">10</span>
                    </div>
                   <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                  <i class="fas fa-carrot"></i> <!-- Vegetable icon -->

	</div>
       	</div>              
	 </div>
	</a> 
	</div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">                  
              <b><span class="text-nowrap">Device in Kitchen</span></b>
                  </p>
              	  </div>
             	 </div>
            	</div>


  <div class="col-xl-3 col-lg-6">
	<div class="card card-stats">
	<a href="/livingroomslider.html">
              <div class="btn btn-sm btn-neutral">
	<div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">control</h5>
                      <span class="h2 font-weight-bold mb-0">10</span>
                    </div>
                   <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="fas fa-couch"></i> <!-- Living Room icon -->
	</div>
       	</div>              
	 </div>
	</a> 
	</div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">                  
              <b><span class="text-nowrap">Device in Living Room</span></b>
                  </p>
              	  </div>
             	 </div>
            	</div>

            
 <div class="col-xl-3 col-lg-6">
	<div class="card card-stats">
	<a href="/storeroomslider.html">
              <div class="btn btn-sm btn-neutral">
	<div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Control</h5>
                      <span class="h2 font-weight-bold mb-0">5</span>
                    </div>
                   <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-box-open"></i> <!-- Store Room icon -->

	</div>
       	</div>              
	 </div>
	</a> 
	</div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">                  
              <b><span class="text-nowrap">Device in Store Room</span></b>
                  </p>
              	  </div>
             	 </div>
            	</div>
</div>
</div>
</div>



          

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

{% endblock javascripts %}
