{% extends 'layouts/base.html' %}
{% block title %} ROOMS {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
     <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Living Room Controllers:</h3>
          </div>
        
          <!-- Ac table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Appliances</th>
                  <th scope="col" class="sort" data-sort="budget">Location</th>
                  <th scope="col" class="sort" data-sort="status">Status</th>
                  <th scope="col" class="sort" data-sort="completion">CONTROLLER</th>
                  
                </tr>
              </thead>
     
 
             

{% comment %} LIVING ROOM {% endcomment %}
 
 <th scope="row">
  <div class="media align-items-center">
    <a href="#" <div class="col-auto">
      <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
      <i class="fas fa-lightbulb"></i>
      </div>
    </a>
    <div class="media-body">
      <span class="name mb-0 text-sm">Tube light</span>
    </div>
  </div>
</th>
<td class="LOCATION">
  Living room
</td>
<td>
   <style>
                      .toggle-switch {
                        position: relative;
                        display: inline-block;
                        width: 60px;
                        height: 34px;
                        border-radius:50px;
                      }
                      
                      .toggle-switch input[type="toggle"] {
                        opacity: 0;
                        width: 0;
                        height: 0;
                        border-radius:50px;
                      }
                      
                      .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        border-radius:50px;
                        -webkit-transition: .4s;
                        transition: .4s;
                        
                      }
                      
                      .slider:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 4px;
                        border-radius:50px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
  
                      }
                      
                      input[type="checkbox"]:checked + .slider {
                        background-color: #2196F3;
                      }
                      
                      input[type="checkbox"]:checked + .slider:before {
                        transform: translateX(26px);
                      }
                      </style>
                      <label class="toggle-switch">
                        <input type="checkbox" class="slider" id="toggle">
                        <span class="slider" id="toggle"></span>
                      </label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">Not Supported</span>
                      <div>
                                               
                         </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-right">
                    <div class="dropdown">
                      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
              {% comment %} LIVINGROOM CAMERA MONITOR {% endcomment %}
                <th scope="row">
                     <div class="media align-items-center">
                   <a href="#" <div class="col-auto">
               <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                   <i class="fas fa-tv"></i>
                      </div>
                         </a>
                          <div class="media-body">
                        <span class="name mb-0 text-sm">Camera monitor</span>
                         </div>
                      </div>
                    </th>
                       <td class="LOCATION">
                         Living room
                     </td>
                      <td>
                    
                      <label class="toggle-switch">
                        <input type="checkbox" class="slider" id="toggle">
                        <span class="slider" id="toggle"></span>
                      </label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">Not Supported</span>
                      <div>
                                        
                         </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-right">
                    <div class="dropdown">
                      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </td>
                </tr>
                
                 
<th scope="row">
  <div class="media align-items-center">
    <a href="#" <div class="col-auto">
      <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
      <i class="fas fa-snowflake"></i>
      </div>
    </a>
    <div class="media-body">
      <span class="name mb-0 text-sm">Air Conditioner</span>
    </div>
  </div>
</th>
<td class="LOCATION">
  Living room
</td>
<td>
  <style>
    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      border-radius:50px;
    }
    
    .toggle-switch input[type="toggle"] {
      opacity: 0;
      width: 0;
      height: 0;
      border-radius:50px;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius:50px;
      -webkit-transition: .4s;
      transition: .4s;
      
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      border-radius:50px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input[type="checkbox"]:checked + .slider {
      background-color: #2196F3;
    }
    
    input[type="checkbox"]:checked + .slider:before {
      transform: translateX(26px);
    }
    </style>
    <label class="toggle-switch">
      <input type="checkbox" class="slider" id="toggle">
      <span class="slider" id="toggle"></span>
    </label>
</td>
<td>
  <div class="d-flex align-items-center">
    <span class="completion mr-2"></span>
    <div>
      <div class="range">
        <input type="range" min="16" max="32" value="0"
        style="width: 140px; height: 5px; background: #d3d3d3; opacity: 0.7; cursor:-webkit-grab; margin: 0 5px;"oninput="range20.innerText = this.value"
        ><p id="range20">16</p>
        <div style="display: flex; align-items: center;">
        
        </div>
        
       </div>
    </div>
  </div>
</td>
<td class="text-right">
  <div class="dropdown">
    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</td>
</tr>
<tr>
  {% comment %} LIVINGROOM LAMP {% endcomment %}
<th scope="row">
  <div class="media align-items-center">
    <a href="#" <div class="col-auto">
      <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
      <i class="fas fa-lightbulb"></i>
      </div>
    </a>
    <div class="media-body">
      <span class="name mb-0 text-sm">Lamp</span>
    </div>
  </div>
</th>
<td class="LOCATION">
  Living room
</td>
<td>
  <style>
    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      border-radius:50px;
    }
    
    .toggle-switch input[type="toggle"] {
      opacity: 0;
      width: 0;
      height: 0;
      border-radius:50px;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius:50px;
      -webkit-transition: .4s;
      transition: .4s;
      
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      border-radius:50px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input[type="checkbox"]:checked + .slider {
      background-color: #2196F3;
    }
    
    input[type="checkbox"]:checked + .slider:before {
      transform: translateX(26px);
    }
    </style>
    <label class="toggle-switch">
      <input type="checkbox" class="slider" id="toggle">
      <span class="slider" id="toggle"></span>
    </label>
</td>
<td>
  <div class="d-flex align-items-center">
    <span class="completion mr-2">Not Supported</span>
    <div>
     
       </div>
    </div>
  </div>
</td>
<td class="text-right">
  <div class="dropdown">
    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</td>
</tr>
{% comment %} LIVINGROOM SWITCH 1 {% endcomment %}
 
<th scope="row">
  <div class="media align-items-center">
    <a href="#" <div class="col-auto">
      <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
      <i class="fas fa-plug"></i>
      </div>
    </a>
    <div class="media-body">
      <span class="name mb-0 text-sm">Switch 1</span>
    </div>
  </div>
</th>
<td class="LOCATION">
  Living Room
</td>
<td>
  <style>
    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      border-radius:50px;
    }
    
    .toggle-switch input[type="toggle"] {
      opacity: 0;
      width: 0;
      height: 0;
      border-radius:50px;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius:50px;
      -webkit-transition: .4s;
      transition: .4s;
      
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      border-radius:50px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input[type="checkbox"]:checked + .slider {
      background-color: #2196F3;
    }
    
    input[type="checkbox"]:checked + .slider:before {
      transform: translateX(26px);
    }
    </style>
    <label class="toggle-switch">
      <input type="checkbox" class="slider" id="toggle">
      <span class="slider" id="toggle"></span>
    </label>
</td>
<td>
  <div class="d-flex align-items-center">
    <span class="completion mr-2">Not Supported</span>
    <div>
     
       </div>
    </div>
  </div>
</td>
<td class="text-right">
  <div class="dropdown">
    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</td>
</tr>
{% comment %} LIVINGROOM SWITCH 2 {% endcomment %}
 
<th scope="row">
  <div class="media align-items-center">
    <a href="#" <div class="col-auto">
      <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
      <i class="fas fa-plug"></i>
      </div>
    </a>
    <div class="media-body">
      <span class="name mb-0 text-sm">Switch 2</span>
    </div>
  </div>
</th>
<td class="LOCATION">
  Living Room
</td>
<td>
  <style>
    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      border-radius:50px;
    }
    
    .toggle-switch input[type="toggle"] {
      opacity: 0;
      width: 0;
      height: 0;
      border-radius:50px;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius:50px;
      -webkit-transition: .4s;
      transition: .4s;
      
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      border-radius:50px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input[type="checkbox"]:checked + .slider {
      background-color: #2196F3;
    }
    
    input[type="checkbox"]:checked + .slider:before {
      transform: translateX(26px);
    }
    </style>
    <label class="toggle-switch">
      <input type="checkbox" class="slider" id="toggle">
      <span class="slider" id="toggle"></span>
    </label>
</td>
<td>
  <div class="d-flex align-items-center">
    <span class="completion mr-2">Not Supported</span>
    <div>
  
       </div>
    </div>
  </div>
</td>
<td class="text-right">
  <div class="dropdown">
    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</td>
</tr>
{% comment %} LIVINGROOM Light{% endcomment %}
 
<th scope="row">
  <div class="media align-items-center">
    <a href="#" <div class="col-auto">
      <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
      <i class="fas fa-lightbulb"></i>
      </div>
    </a>
    <div class="media-body">
      <span class="name mb-0 text-sm">Light</span>
    </div>
  </div>
</th>
<td class="LOCATION">
  Living Room
</td>
<td>
  <style>
    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      border-radius:50px;
    }
    
    .toggle-switch input[type="toggle"] {
      opacity: 0;
      width: 0;
      height: 0;
      border-radius:50px;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius:50px;
      -webkit-transition: .4s;
      transition: .4s;
      
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      border-radius:50px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input[type="checkbox"]:checked + .slider {
      background-color: #2196F3;
    }
    
    input[type="checkbox"]:checked + .slider:before {
      transform: translateX(26px);
    }
    </style>
    <label class="toggle-switch">
      <input type="checkbox" class="slider" id="toggle">
      <span class="slider" id="toggle"></span>
    </label>
</td>
<td>
  <div class="d-flex align-items-center">
    <span class="completion mr-2">Not Supported</span>
    <div>
    
                                
       </div>
    </div>
  </div>
</td>
<td class="text-right">
  <div class="dropdown">
    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</td>
</tr>
{% comment %} LIVINGROOM Light 2{% endcomment %}
 
<th scope="row">
  <div class="media align-items-center">
    <a href="#" <div class="col-auto">
      <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
      <i class="fas fa-lightbulb"></i>
      </div>
    </a>
    <div class="media-body">
      <span class="name mb-0 text-sm">Light 2</span>
    </div>
  </div>
</th>
<td class="LOCATION">
  Living Room
</td>
<td>
  <style>
    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      border-radius:50px;
    }
    
    .toggle-switch input[type="toggle"] {
      opacity: 0;
      width: 0;
      height: 0;
      border-radius:50px;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius:50px;
      -webkit-transition: .4s;
      transition: .4s;
      
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      border-radius:50px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input[type="checkbox"]:checked + .slider {
      background-color: #2196F3;
    }
    
    input[type="checkbox"]:checked + .slider:before {
      transform: translateX(26px);
    }
    </style>
    <label class="toggle-switch">
      <input type="checkbox" class="slider" id="toggle">
      <span class="slider" id="toggle"></span>
    </label>
</td>
<td>
  <div class="d-flex align-items-center">
    <span class="completion mr-2">Not Supported</span>
    <div>
     
                                
       </div>
    </div>
  </div>
</td>
<td class="text-right">
  <div class="dropdown">
    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</td>
</tr>
{% comment %} LIVINGROOM SWITCH 1 {% endcomment %}
 
<th scope="row">
  <div class="media align-items-center">
    <a href="#" <div class="col-auto">
      <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
      <i class="fas fa-camera"></i>
      </div>
    </a>
    <div class="media-body">
      <span class="name mb-0 text-sm">Camera 1</span>
    </div>
  </div>
</th>
<td class="LOCATION">
  Living Room
</td>
<td>
  <style>
    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      border-radius:50px;
    }
    
    .toggle-switch input[type="toggle"] {
      opacity: 0;
      width: 0;
      height: 0;
      border-radius:50px;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius:50px;
      -webkit-transition: .4s;
      transition: .4s;
      
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      border-radius:50px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input[type="checkbox"]:checked + .slider {
      background-color: #2196F3;
    }
    
    input[type="checkbox"]:checked + .slider:before {
      transform: translateX(26px);
    }
    </style>
    <label class="toggle-switch">
      <input type="checkbox" class="slider" id="toggle">
      <span class="slider" id="toggle"></span>
    </label>
</td>
<td>
  <div class="d-flex align-items-center">
    <span class="completion mr-2">Not Supported</span>
    <div>
         
       </div>
    </div>
  </div>
</td>
<td class="text-right">
  <div class="dropdown">
    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</td>
</tr>
{% comment %} Livingroom room camera 2 {% endcomment %}
<th scope="row">
  <div class="media align-items-center">
    <a href="#" <div class="col-auto">
      <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
      <i class="fas fa-camera"></i>
      </div>
    </a>
    <div class="media-body">
      <span class="name mb-0 text-sm">Camera 2</span>
    </div>
  </div>
</th>
<td class="LOCATION">
  Living room
</td>
<td>
  <style>
    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      border-radius:50px;
    }
    
    .toggle-switch input[type="toggle"] {
      opacity: 0;
      width: 0;
      height: 0;
      border-radius:50px;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius:50px;
      -webkit-transition: .4s;
      transition: .4s;
      
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      border-radius:50px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input[type="checkbox"]:checked + .slider {
      background-color: #2196F3;
    }
    
    input[type="checkbox"]:checked + .slider:before {
      transform: translateX(26px);
    }
    </style>
    <label class="toggle-switch">
      <input type="checkbox" class="slider" id="toggle">
      <span class="slider" id="toggle"></span>
    </label>
</td>
<td>
  <div class="d-flex align-items-center">
    <span class="completion mr-2">Not Supported</span>
    <div>
                
       </div>
    </div>
  </div>
</td>
<td class="text-right">
  <div class="dropdown">
    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</td>
</tr>
 </tbody>
   </table>

  
        
      {% include "includes/footer.html" %}
    </div>
{% endblock content %}
<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>
{% endblock javascripts %}