{% extends 'layouts/base.html' %}

{% block title %} ROOMS {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-0">
      <div class="container-fluid">
        <div class="header-body">
         
          <!-- Card stats -->
          
     <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-4">
            <h3 class="mb-4">CONTROLLER</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <tbody class="list">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="#" <div class="col-auto">
                      <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                      <i class="fas fa-box"></i>
                      </div>
                    </a>
                    <div class="media-body">
                      <span class="name mb-0 text-sm">SCHEDULE</span>
                    </div>
                  </div>
                </th>
                <td >
                  <a href="ALLSchedule.html" class="btn btn-sm btn-primary">See </a>
                </td>
               
                <td>
                  
                  <div class="row align-items-center py-4">
                    <div class="col-lg-2 col-4">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                       
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                      
                          
                              <h1> <span id="energy12"></span></h1>
                          
                              <script>
                                  $(document).ready(function() {
                                      $.ajax({
                                          url: '/fetch-temperature/',
                                          dataType: 'json',
                                          success: function(data) {
                                              $('#energy12').text(data.energy + '%');
                                          },
                                          error: function() {
                                              $('#energy12').text('Failed to fetch energy');
                                          }
                                      });
                                  });
                              </script>
                         
                      </nav>
                    </div>
                </td>
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">ROOMS</th>
                  <th scope="col" class="sort" data-sort="budget">DETAIL</th>
                  <th scope="col" class="sort" data-sort="completion">ENERGY</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="rde.html" <div class="col-auto">
                      <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                      <i class="fas fa-box"></i>
                      </div>
                    </a>
                    <div class="media-body">
                      <span class="name mb-0 text-sm">TOTAL ROOM</span>
                    </div>
                  </div>
                </th>
                <td >
                  <a href="kartik.html" class="btn btn-sm btn-primary">See </a>
                </td>
               
                <td>
                  
                  <div class="row align-items-center py-4">
                    <div class="col-lg-2 col-4">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                       
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                      
                          
                              <h1> <span id="energy11"></span></h1>
                          
                              <script>
                                  $(document).ready(function() {
                                      $.ajax({
                                          url: '/fetch-temperature/',
                                          dataType: 'json',
                                          success: function(data) {
                                              $('#energy11').text(data.energy + '%');
                                          },
                                          error: function() {
                                              $('#energy11').text('Failed to fetch energy');
                                          }
                                      });
                                  });
                              </script>
                         
                      </nav>
                    </div>
                </td>
               
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" <div class="col-auto">
                        <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                        <i class="fas fa-box"></i>
                        </div>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">BED ROOM</span>
                      </div>
                    </div>
                  </th>
                  <td >
                    <a href="room5.html" class="btn btn-sm btn-primary">See </a>
                  </td>
                 
                  <td>
                    <div class="row align-items-center py-4">
                      <div class="col-lg-2 col-4">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                         
                              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                            
                                <h1> <span id="energy"></span></h1>
                            
                                <script>
                                    $(document).ready(function() {
                                        $.ajax({
                                            url: '/fetch-temperature/',
                                            dataType: 'json',
                                            success: function(data) {
                                                $('#energy').text(data.energy + '%');
                                            },
                                            error: function() {
                                                $('#energy').text('Failed to fetch energy');
                                            }
                                        });
                                    });
                                </script>
                           
                          </ol>
                        </nav>
                  </td>
                  
                </tr>
               
              </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" <div class="col-auto">
                        <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                        <i class="fas fa-box"></i>
                        </div>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">DINE ROOM</span>
                      </div>
                    </div>
                  </th>
                  <td >
                    <a href="room6.html" class="btn btn-sm btn-primary">See </a>
                  </td>
                 
                  <td>
                    
                    <div class="row align-items-center py-4">
                      <div class="col-lg-2 col-4">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                         
                              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                            
                                <h1> <span id="energy1"></span></h1>
                            
                                <script>
                                    $(document).ready(function() {
                                        $.ajax({
                                            url: '/fetch-temperature/',
                                            dataType: 'json',
                                            success: function(data) {
                                                $('#energy1').text(data.energy + '%');
                                            },
                                            error: function() {
                                                $('#energy1').text('Failed to fetch energy');
                                            }
                                        });
                                    });
                                </script>
                           
                        </nav>
                      </div>
                  </td>
                 
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" <div class="col-auto">
                        <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                        <i class="fas fa-box"></i>
                        </div>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">HALL</span>
                      </div>
                    </div>
                  </th>
                  <td >
                    <a href="room2.html" class="btn btn-sm btn-primary">See </a>
                  </td>
                 
  
                  </td>
                  <td>
                    <div class="row align-items-center py-4">
                      <div class="col-lg-2 col-4">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                         
                              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                            
                                <h1> <span id="energy2"></span></h1>
                            
                                <script>
                                    $(document).ready(function() {
                                        $.ajax({
                                            url: '/fetch-temperature/',
                                            dataType: 'json',
                                            success: function(data) {
                                                $('#energy2').text(data.energy + '%');
                                            },
                                            error: function() {
                                                $('#energy2').text('Failed to fetch energy');
                                            }
                                        });
                                    });
                                </script>
                           
                        </nav>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" <div class="col-auto">
                        <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                        <i class="fas fa-box"></i>
                        </div>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">STUDY ROOM</span>
                      </div>
                    </div>
                  </th>
                  <td >
                    <a href="room4.html" class="btn btn-sm btn-primary">See </a>
                  </td>
                 
                  <td>
                    <div class="row align-items-center py-4">
                      <div class="col-lg-2 col-4">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                         
                              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                            
                                <h1> <span id="energy5"></span></h1>
                            
                                <script>
                                    $(document).ready(function() {
                                        $.ajax({
                                            url: '/fetch-temperature/',
                                            dataType: 'json',
                                            success: function(data) {
                                                $('#energy5').text(data.energy + '%');
                                            },
                                            error: function() {
                                                $('#energy5').text('Failed to fetch energy');
                                            }
                                        });
                                    });
                                </script>
                           
                        </nav>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" <div class="col-auto">
                        <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                        <i class="fas fa-box"></i>
                        </div>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">LIVING ROOM</span>
                      </div>
                    </div>
                  </th>
                  <td >
                    <a href="room7.html" class="btn btn-sm btn-primary">See </a>
                  </td>
                 
                  <td>
                    <div class="row align-items-center py-4">
                      <div class="col-lg-2 col-4">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                          
                              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                            
                                <h1> <span id="energy3"></span></h1>
                            
                                <script>
                                    $(document).ready(function() {
                                        $.ajax({
                                            url: '/fetch-temperature/',
                                            dataType: 'json',
                                            success: function(data) {
                                                $('#energy3').text(data.energy + '%');
                                            },
                                            error: function() {
                                                $('#energy3').text('Failed to fetch energy');
                                            }
                                        });
                                    });
                                </script>
                            
                        </nav>
                  </td>
                 
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" <div class="col-auto">
                        <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                        <i class="fas fa-box"></i>
                        </div>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">KITCHEN</span>
                      </div>
                    </div>
                  </th>
                  <td >
                    <a href="room1.html" class="btn btn-sm btn-primary">See </a>
                  </td>
                 
                  <td>
                    <div class="row align-items-center py-4">
                      <div class="col-lg-2 col-4">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                         
                              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                            
                                <h1> <span id="energy4"></span></h1>
                            
                                <script>
                                    $(document).ready(function() {
                                        $.ajax({
                                            url: '/fetch-temperature/',
                                            dataType: 'json',
                                            success: function(data) {
                                                $('#energy4').text(data.energy + '%');
                                            },
                                            error: function() {
                                                $('#energy4').text('Failed to fetch energy');
                                            }
                                        });
                                    });
                                </script>
                           
                          
                        </nav>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" <div class="col-auto">
                        <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                        <i class="fas fa-box"></i>
                        </div>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">STORE ROOM</span>
                      </div>
                    </div>
                  </th>
                  <td >
                    <a href="room8.html" class="btn btn-sm btn-primary">See </a>
                  </td>
                 
                  <td>
                    <div class="row align-items-center py-4">
                      <div class="col-lg-2 col-4">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                          
                              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                            
                                <h1> <span id="energy10"></span></h1>
                            
                                <script>
                                    $(document).ready(function() {
                                        $.ajax({
                                            url: '/fetch-temperature/',
                                            dataType: 'json',
                                            success: function(data) {
                                                $('#energy10').text(data.energy + '%');
                                            },
                                            error: function() {
                                                $('#energy10').text('Failed to fetch energy');
                                            }
                                        });
                                    });
                                </script>
                           
                        </nav>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" <div class="col-auto">
                        <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                        <i class="fas fa-box"></i>
                        </div>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">GUEST ROOM</span>
                      </div>
                    </div>
                  </th>
                  <td >
                    <a href="room3.html" class="btn btn-sm btn-primary">See </a>
                  </td>
                  
                  <td>
                    <div class="row align-items-center py-4">
                      <div class="col-lg-2 col-4">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                          
                              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                            
                                <h1> <span id="energy9"></span></h1>
                            
                                <script>
                                    $(document).ready(function() {
                                        $.ajax({
                                            url: '/fetch-temperature/',
                                            dataType: 'json',
                                            success: function(data) {
                                                $('#energy9').text(data.energy + '%');
                                            },
                                            error: function() {
                                                $('#energy9').text('Failed to fetch energy');
                                            }
                                        });
                                    });
                                </script>
                           
                        </nav>
                  </td>
                 
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" <div class="col-auto">
                        <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                        <i class="fas fa-box"></i>
                        </div>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">ENERGY</span>
                      </div>
                    </div>
                  </th>
                  <td >
                    <a href="priya.html" class="btn btn-sm btn-primary">See </a>
                  </td>
                 
                  <td>
                    <div class="row align-items-center py-4">
                      <div class="col-lg-2 col-4">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                         
                              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                            
                                <h1> <span id="energy6"></span></h1>
                            
                                <script>
                                    $(document).ready(function() {
                                        $.ajax({
                                            url: '/fetch-temperature/',
                                            dataType: 'json',
                                            success: function(data) {
                                                $('#energy6').text(data.energy + '%');
                                            },
                                            error: function() {
                                                $('#energy6').text('Failed to fetch energy');
                                            }
                                        });
                                    });
                                </script>
                           
                        </nav>
                  </td>
                  
                     
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" <div class="col-auto">
                        <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                        <i class="fas fa-box"></i>
                        </div>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">SENSOR</span>
                      </div>
                    </div>
                  </th>
                  <td >
                    <a href="hofsen.html" class="btn btn-sm btn-primary">See </a>
                  </td>
                 
                  <td>
                    <div class="row align-items-center py-4">
                      <div class="col-lg-2 col-4">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                          
                              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                            
                                <h1> <span id="energy7"></span></h1>
                            
                                <script>
                                    $(document).ready(function() {
                                        $.ajax({
                                            url: '/fetch-temperature/',
                                            dataType: 'json',
                                            success: function(data) {
                                                $('#energy7').text(data.energy + '%');
                                            },
                                            error: function() {
                                                $('#energy7').text('Failed to fetch energy');
                                            }
                                        });
                                    });
                                </script>
                            
                        </nav>
                  </td>
                  
                </tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="#" <div class="col-auto">
                      <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                      <i class="fas fa-box"></i>
                      </div>
                    </a>
                    <div class="media-body">
                      <span class="name mb-0 text-sm">CCTV</span>
                    </div>
                  </div>
                </th>
                <td >
                  <a href="rde.html" class="btn btn-sm btn-primary">See </a>
                </td>
                
                <td>
                  <div class="row align-items-center py-4">
                    <div class="col-lg-2 col-4">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                      
                          
                              <h1> <span id="energy8"></span></h1>
                          
                              <script>
                                  $(document).ready(function() {
                                      $.ajax({
                                          url: '/fetch-temperature/',
                                          dataType: 'json',
                                          success: function(data) {
                                              $('#energy8').text(data.energy + '%');
                                          },
                                          error: function() {
                                              $('#energy8').text('Failed to fetch energy');
                                          }
                                      });
                                  });
                              </script>
                          
                        
                      </nav>
                </td>
               
                    
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            
              
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
    
      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

{% endblock javascripts %}