{% extends 'layouts/base.html' %}

{% block title %} ROOMS {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-3">
      <div class="container-fluid">
        <div class="header-body">
          
            </div>
          </div>
        </div>
          
        
     <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">ON Devices</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">DEVICE</th>
                  
                  <th scope="col" class="sort" data-sort="status">Status</th>
                  
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#"  class="col-auto">
                        <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                        <i class="fas fa-lightbulb"></i>
                        </div>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">Light 1</span>
                      </div>
                    </div>
                  </th>
                 
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-green"></i>
                      <span class="status">ON</span>
                    </span>
                  </td>
                 
                

                          <tr>
                            <th scope="row">
                              <div class="media align-items-center">
                                <a href="#"  class="col-auto">
                                  <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                                  <i class="fas fa-plug"></i>
                                  </div>
                                </a>
                                <div class="media-body">
                                  <span class="name mb-0 text-sm">Switch</span>
                                </div>
                              </div>
                            </th>
                            
                            <td>
                              <span class="badge badge-dot mr-4">
                                <i class="bg-green"></i>
                                <span class="status">ON</span>
                              </span>
                            </td>

                            <tr>
                              <th scope="row">
                                <div class="media align-items-center">
                                  <a href="#"  class="col-auto">
                                    <div class="icon icon-shape bg-white text-blue rounded-circle shadow" >
                                    <i class="fas fa-camera"></i>
                                    </div>
                                  </a>
                                  <div class="media-body">
                                    <span class="name mb-0 text-sm">Camera</span>
                                  </div>
                                </div>
                              </th>
                              
                              <td>
                                <span class="badge badge-dot mr-4">
                                  <i class="bg-green"></i>
                                  <span class="status">ON</span>
                                </span>
                              </td>
 
                

              </tbody>
            </table>
          </div>
        </div>
        <br>

      {% include "includes/footer.html" %}

    

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

{% endblock javascripts %}